<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us -flask app </title>
</head>
<body>
<header>
     <h1> About Us </h1>
</header>
</body>
</html>

-->
<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/jobs">Jobs</a>
    <a href="/profile/John">Profile</a>
</nav>

<div class="container">
    <h1>About Us</h1>
    <p>This website is built using Flask and demonstrates routing, templates, and styling.</p>
</div>
</body>
</html>

