body{
    font-family: Arial, sans-serif;
    background-color: #e1dcdc;
}

h1{
    color: #191717;
}

#chatWindow p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: #444;
}

#chatWindow p b:first-child {
    color: #6811aa; /* Blue for user */
    margin-right: 5px;
}

#chatWindow b {
    font-weight: 700;
}

#userInput {
    width: 400px;
    max-width: 70%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    transition: 0.3s;
}

#userInput:focus {
    border-color: #73379a;
    box-shadow: 0 2px 10px rgba(0,123,255,0.2);
}

button {
    padding: 12px 25px;
    background-color: #4747ae;
    color: #cdbfbf;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #cf5396;
}

