body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #dee2e8;
    color: #e130a4;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Align content to the top */
    min-height: 100vh;
}

h1{
    color: #636363;
    margin-bottom: 20px;
}

p{
    color: #191717;
    margin-bottom: 10px;
}

button {
  background-color: #4a4d71;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

h3 {
  color: #7922b3;
  margin-top: 20px;
  margin-bottom: 10px;
}


